*.ap_
*.apk
*.class
*.ctxt
*.dex
*.ear
*.iml
*.iws
*.jar
*.jks
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.externalNativeBuild
.fseventsd
.gradle
.gradle/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/caches/build_file_checksums.ser
.idea/dictionaries
.idea/gradle.xml
.idea/httpRequests
.idea/libraries
.idea/replstate.xml
.idea/tasks.xml
.idea/workspace.xml
.idea_modules/
.mtj.tmp/
.navigation/
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
/local.properties
Icon
Network Trash Folder
Temporary Items
atlassian-ide-plugin.xml
bin/
build/
captures/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
google-services.json
hs_err_pid*
local.properties
out/
proguard/
